main {
    margin-left: 300px;
}

h3 {
    font-size: 36px;
    font-weight: 600;

    color: #025E73;
}

ol li {
    color: #025E73;
}

.texto {
    width: 65vw;
    height: 150px;
    margin-top: 23px;

    padding: 10px;
    text-align: justify;

    background: #C4C4C44F;

}

ol li {
    margin-top: 40px;
}
