main {
    margin-left: 300px;
    margin-top: 10vh;
}

h3 {
    font-size: 36px;
    font-weight: 600;

    color: #025E73;
}

ol li {
    color: #025E73;
}

.texto {
    width: 65vw;
    height: 150px;
    margin-top: 23px;

    padding: 10px;
    text-align: justify;

    background: #C4C4C44F;

}

ol li {
    margin-top: 40px;
}

footer input {
    position: absolute;
    width: 200px;
    height: 39px;
    right: 20px;
    bottom: 20px;
    margin-top: 20px;

    padding: 10px;

    background: transparent;
    border: 4px solid #CF4265;
    border-radius: 28px;

    color: #CF4265;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
