main {
    display: flex;
    flex-direction: column;
}

article {
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 5vh;
}

#img-pagina-inicial {
    width: 59.89vw;
}

#right {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

#barra-pesquisa {
    width: 23.32vw;
    height: 4.8vh;
    padding-left: 5%;
    padding-right: 5%;

    border: 2px solid #A9D9C3;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#barra-pesquisa input {
    background-color: transparent;
}

#barra-pesquisa img {
    height: 70%;
}

#divulgar {
    width: 27.81vw;
    height: 12vh;

    color: #025E73;
    border: 1px solid #CF4265;
    border-radius: 15px;
}

footer {
    width: 95vw;
    height: 50vh;

    align-self: center;

    display: flex;
    flex-direction: column;
}

footer h2 {
    margin-bottom: 3vh;

    color: #CF4265;
}

footer section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

footer section div {
    width: 15vw;
}

footer section img {
    width: 100%;
}

#btn-ver-mais {
    width: 14vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    margin-left: 43vw;

    margin-top: 15vh;
    bottom: 20vh;

    border: 1px solid #CF4265;
}