@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navegacao {
    position: fixed;
    top:1px;
    left: 1px;
    bottom: 1px;
    transition: width 0.5s;
    width: 235px;
    box-sizing: border-box;

    border-left: 5px solid #025E73;
    background: #025E73;
    color: #F2F2F2;

    font-family: 'Roboto', sans-serif;
}

.inf-pessoal {
    text-align: center;
    font-size: 14px;
}

.nome {
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
}

.cargo {
    color: #F2F2F2;
}

.inf-pessoal p:first-child {
    width: 199px;
    height: 23px;
    left: 85px;
    top: 216px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}

.foto-perfil {
    height: 129px;
    width: 137px;
    left: 116px;
    top: 48px;

    max-width: 120px; 
    max-height: 120px;
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 10px;
}


.navegacao ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 250px;
}

.navegacao ul li{
    position: relative;
    list-style: none;
    margin-left: 5px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navegacao ul li.active{
    background: #F2F2F2;
}

.active span {
    color: #363537;
}

.navegacao ul li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navegacao ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    left: 49px;
    height: 25px;
    width: 95.6%;
    background: #F2F2F2;
    display: none;
}

.navegacao ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 79.5%;
    height: 80%;
    border-bottom-right-radius: 20px;
    background: #025E73;
}

.navegacao ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    left: 49px;
    height: 25px;
    width: 95.6%;
    background: #F2F2F2;
    display: none;
}

.navegacao ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 79.5%;
    height: 80%;
    border-top-right-radius: 20px;
    background:  #025E73;
}

.navegacao ul li.active b:nth-child(1),
.navegacao ul li.active b:nth-child(2) {
    display: block;
}

.navegacao ul li.active a {
    color: #133C55;
}

.navegacao ul li .title{
    position: relative;
    display: block;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    white-space: normal;
}

.gambiarra {
    margin-bottom: 1.5px;
}

.opcao{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F2F2F2;
}

.opcao img {
    width: 20px;
    margin-left: 5px;
}