main {
    width: 70vw;
    margin-left: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: fit-content;
}

.card img {
    width: 177px;
}

.card .nome {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.05em;
    
    color: #025E73;
}


/* MENU */

.foto-perfil {
    height: 129px;
    width: 137px;
    left: 116px;
    top: 48px;
    border-radius: 0px;

    max-width: 100px; 
    max-height: 100px;
    border-radius: 50%;
    margin-top: 35px;
}

.inf-pessoal{
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 0px;
}

.mensagem{
    margin: 30px 0px ;
    font-size: 14px;
}

.navegacao{
    font-size: 14px;
    position: fixed;
    top:1px;
    left: 1px;
    bottom: 1px;
    width: 235px;
    box-sizing: initial;
    border-left: 5px solid #025E73;
    background: #025E73;
    transition: width 0.5s;
}
.navegacao ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 250px; 
}

.navegacao ul li{
    position: relative;
    list-style: none;
    margin-left: 5px;
    padding-left: 10px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navegacao ul li.active {
    background: #F2F2F2;
}

.navegacao ul li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 90%;
    display: flex;
    text-decoration: none;
    color: #F2F2F2;
}
.navegacao ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    left: 49px;
    height: 25px;
    width: 95.6%;
    background: #F2F2F2;
    display: none;
}

.navegacao ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 80%;
    border-bottom-right-radius: 20px;
    background: #025E73;
}

.navegacao ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    left: 49px;
    height: 25px;
    width: 95.6%;
    background: #F2F2F2;
    display: none;
}

.navegacao ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    height: 80%;
    border-top-right-radius: 20px;
    background:  #025E73;
}

.navegacao ul li.active b:nth-child(1),
.navegacao ul li.active b:nth-child(2) {
    display: block;
}

.navegacao ul li.active a{
    color: #133C55;
}

.material-icons{
    font-size: 30px;
}

.navegacao ul li a .material-icons {
    position: relative;
    display: block;
    line-height: 50px;
    text-align: le;
}


.navegacao ul li .title {
    position: relative;
    display: block;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    white-space: normal;
}

.conteudo {
    position: absolute;
    text-align: left;
    color:#133C55;
    top: 10px;
    left: 261px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

label {
    font-size: 12px;
    margin-bottom: 10px;
}

input {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;
}

#espaco {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botoes {
    align-items: flex-end;
}

.btn-voltar { 
    background-color: #EEEEEE;
    color: #606060;
    width: 200px;
    height: 40px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border-radius: 7px;
}
