main {
    position: absolute;
    text-align: left;
    color:#133C55;
    top: 10px;
    left: 261px;
    margin: 30px;
    width: 70vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100vh;
}

#foto img {
    width: 180px;
}

label {
    height: 22px;
    width: 195px;
    left: 473px;
    top: 80px;
    border-radius: null;
}

input {
    margin-bottom: 20px;
    padding: 10px 10px 10px 20px;

    height: 39px;
    width: 549px;

    border-radius: 19.5px;
    background: #C4C4C469;
}

#espaco {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    margin-bottom: 20px;
    padding: 10px 0px 10px 20px;

    height: 39px;
    width: 250px;

    border-radius: 19.5px;
    background: #C4C4C469;
}